@page "/settings"
@using BlazzingChat.Client.ViewModels

<h2><b>Settings</b></h2>
<hr />

<div class="col-12">
    <div class="row">
        <RadzenSwitch @bind-Value="@_settingsViewModel.Notifications" Style="margin-bottom : 20px" />
        <span>&nbsp;</span>
        <label>Notification</label>
    </div>
    <div class="row">
        <RadzenSwitch @bind-Value="@_settingsViewModel.DarkTheme" Style="margin-bottom : 20px" />
        <span>&nbsp;</span>
        <label>Dark theme</label>
    </div>
    <div class="row">
        <button class="btn btn-primary" @onclick="_settingsViewModel.Save">Save</button>
    </div>
</div>